
body {
    padding: 0;
    text-align: center;
    justify-content: center;
    background-image: url("../imges/nature-game-background.jpg");
    background-repeat: cover;
    background-position: center;
    font-size: 40px;
    font-family: cursive;
    letter-spacing: 3px;
}

body button {
    font-size: 30px;
    background-color: lightcoral;
    color: #fff;
    padding: 20px 40px;
    border: 0;
    box-shadow: 0;
    border-radius: 5px;
    margin: 20px;
}

#game-board {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
    text-align: center;
}


.logo-img {
    height: 40vh;
    margin: 10px;
    box-sizing: border-box;
}


#canvas {
    border: 1px black solid;
}

#style-container{
    height: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#style-container h1 {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    text-align: center;
    font-size: 3em;
    margin: 30px;
    color: lightcoral;
        /* 1 pixel black shadow to left, top, right and bottom */
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}

#style-container p {
    width: fit-content;
    height: fit-content;
    box-sizing: border-box;
    font-size: 1em;
    margin: 30px;
    padding: 30px;
}

#style-container header {
    height: 100px;
    display: flex;
    align-items: center;
  }
  
.score {
    display: flex;
    justify-content: space-evenly;
    flex: 1;
    font-size: 30px;
    text-align: center;
  }

.win-score{
    flex: 1;
    font-size: 40px;
}
  
.label {
    font-weight: bold;
    font-size: 40px;
  }
  
.value {
    font-style: italic;
    font-size: 60px;
   width: 50px;
   text-align: center;
   font-weight: 900;
   margin: 5px;
  }
  
