
body {
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-image: url("../imges/nature-game-background.jpg");
    background-repeat: cover;
    background-position: center;
    font-size: 40px;
}

body button {
    font-size: 30px;
    background-color: lightcoral;
    color: #fff;
    padding: 20px 40px;
    border: 0;
    box-shadow: 0;
    border-radius: 5px;
    margin-bottom: 20px;
}

#game-board {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
}


.logo-img {
    height: 50%;
    margin-bottom: 10%;
}

.arrows-img {
    width: 150px;
}

#canvas {
    border: 1px black solid;
}

#style-container{
    height: 100%;
    align-items: center;
}

#style-container header {
    height: 100px;
    display: flex;
    align-items: center;
  }
  
.score {
    flex: 1;
    font-size: 70px;
  }

.win-score{
    flex: 1;
    font-size: 70px;
}
  
.label {
    font-weight: bold;
    font-size: 70px;
  }
  
.value {
    font-style: italic;
    font-size: 70px;
  }
  
