@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:100,300,700');

* {
    box-sizing: border-box;
  }

body {
    padding: 0;
    background-image: url("../imges/nature-game-background.jpg");
    background-position: center;
    font-size: 40px;
    font-family: 'Roboto';
    letter-spacing: 3px;
    line-height: 1.6;
    font-weight: 300;
    
}


#game-board {
    margin: 10px;
    position: absolute;
   
}


#style-container{
    margin: 10px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: content-box;
    
}

h1 {
    color:  lightcoral;
    font-size: 5em;
    width: fit-content;
    height: 70%;
    text-align: right;
    margin-right: 100px;
    text-shadow: 6px 4px 6px #000000;
}

p {
    font-size: 0.6em;
    text-align: center;
    padding: 30px 30px;
    width: 40%;
    height: 70%;
    line-height: 1.6;
    margin-right: 150px;
    margin-top: 50px;
    font-weight: 500;

    -webkit-box-shadow: 28px 31px 70px 16px rgba(0,0,0,0.51);
    -moz-box-shadow: 28px 31px 70px 16px rgba(0,0,0,0.51);
    box-shadow: 28px 31px 70px 16px rgba(0,0,0,0.51); 
    border-radius: 12px;
    border: 2px solid white
}


#canvas {
    border: 2px white solid;
}


.logo-img {
    height: 300px;
    margin-right: 100px;
    margin-top: 50px;
}


button {
    font-size: 30px;
    background-color: lightcoral;
    color: #fff;
    padding: 20px 40px;
    border: 0;
    box-shadow: 0;
    border-radius: 5px;
    margin-top: 100px;
    margin-right: 200px;
    height: fit-content;
    width: 250px;
    border: 2px solid white

}

button:hover {
    color: blue;
}

.score {
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    background-color: white;
    padding: 3px 20px;
}

.value {
   font-weight: 900;
}

h2 {
    color:  lightcoral;
    font-size: 3em;
    width: 100%;
    text-align: center;
    text-shadow: 6px 4px 6px #000000;
}

h3{
background-color: rgb(96, 182, 96);
padding: 10px;
}

.logo-img2 {
    height: 300px;
    margin-left: 500px;
    margin-top: 50px;
}